body {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
        align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

.red {
    color: red;
}

h1 {
    margin: 0;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

h2 {
    margin: 0;
}

.font30 {
    font-size: 30px;
}

.font50 {
    font-size: 50px;
}

.center {
    text-align: center;
}

@font-face {
    font-family: 'RyoDispPlusN W50 Heavy';
    src: url(../font/RyoDispPlusN-W50-Heavy.ttf);
}

@font-face {
    font-family: 'A-OTF Gothic MB101 Pro B';
    src: url(../font/A-OTF-Gothic-MB101-Pro-B.otf);
}

@font-face {
    font-family: 'A-OTF Gothic MB101 Pro H';
    src: url(../font/A-OTF-Gothic-MB101-Pro-H.otf);
}

header {
    padding: 20px 0 0;
}

header .flex {
    padding: 0 20px;
}

header .header__number a {
    font-weight: 600;
    font-size: 50px;
}

header .header__number small {
    font-size: 12px;
}

header .header__icon .green-btn {
    display: flex;
    background: url(../img/green-btn.png) no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 10px;
    color: #fff;
    font-weight: 600;
}

header .nav__header {
    background-color: #000;
    height: 5vh;
}
/* header*/

.mv {
    background: url(../img/mv-top.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 87vh;
    position: relative;
}

.mv .flex {
    align-items: unset;
    height: 87vh;
}

.mv .left {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 25px 10px 35px 50px;
}

.mv .left img{
    width: 100%;
}

.mv .right {
    width: 49%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mv .right img {
    width: 75%;
}

.mv .left .top-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.mv .left .top-text .icon-100{
    position: relative;
    padding-right: 225px;
}

.mv .left .top-text .icon-100::after{
    content: "年以上!!";
    position: absolute;
    width: 50%;
    font-size: 55px;
    font-weight: 600;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.mv .left .top-text .icon_100 {
    text-align: end;
}

.top-text p {
    font-size: 8vh;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.mv .left .top-text h1 {
    font-size: 55px;
    text-align: start;
    padding-left: 20px;
}

.bot-text {
    text-align: start;
    width: 90%;
    margin: 0 0 0 auto;
}

.bot-text p {
    font-size: 30px;
    font-family: 'RyoDispPlusN W50 Heavy';
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 1),3px 0px 2px rgba(255, 255, 255, 1),1px -2px 2px rgba(255, 255, 255, 1),-2px -3px 2px rgba(255, 255, 255, 1),-1px 3px 2px rgba(255, 255, 255, 1),-3px 3px 2px rgba(255, 255, 255, 1),-3px -3px 2px rgba(255, 255, 255, 1);
}

.mv .bot-text img {
    width: 165px;
}

.bot-text .store_info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 20px;
    width: 90%;
    height: 25vh;
    padding: 0 20px;
    margin-top: 25px;
    background-color: #1e286e;
    border-radius: 10px;
    border: solid 5px #374178;
}

.bot-text .right_icon img {
    width: 100%;
}

.bot-text .store_text{
    line-height: 70px;
}

.bot-text .store_text h2{
    font-size: 20px;
    color: #fff;
}

.bot-text .store_text h1{
    font-size: 49px;
    color: #d2d7d7;
}

.bottom-mv-sp {
    display: none;
}

.bottom-mv-sp {
    background-color: #1e286e;
    border: solid 4px #374178;
    border-radius: 10px;
}

.bottom-mv-sp .store_info {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}

.bottom-mv-sp h1 {
    color: #d2d7d7;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.bottom-mv-sp h2 {
    color: #fff;
}

.bottom-mv-sp .store_info .center img {
    width: 100px;
}

@media (max-width: 1875px) {


    .mv .right img {
        width: 70%;
    }
}

@media (max-width: 1700px) {
    .bot-text .store_text h2 {
        font-size: 18px;
    }

    .bot-text .store_text h1 {
        font-size: 35px;
    }

    .bot-text .store_text {
        line-height: unset;
    }

    .mv .bot-text img {
        width: 130px;
    }

    .bot-text .right_icon img {
        width: 100%;
    }

    
    .bot-text p {
        font-size: 25px;
    }

    .font30 {
        font-size: 25px;
    }

    .font50 {
        font-size: 33px;
    }

    .bot-text {
        margin: 0;
    }

    .bot-text .store_info {
        height: auto;
        padding: 20px;
    }

    .mv .right img {
        width: 80%;
    }
}

@media (max-width: 1500px) {
    .bot-text .store_text h2 {
        font-size: 18px;
    }

    .bot-text .store_text h1 {
        font-size: 35px;
    }

    .bot-text .store_text {
        line-height: unset;
    }

    .mv .bot-text img {
        width: 100px;
    }

    .bot-text .right_icon img {
        width: 100%;
    }

    
    .bot-text p {
        font-size: 25px;
    }

    .font30 {
        font-size: 25px;
    }

    .font50 {
        font-size: 33px;
    }

    .bot-text .store_info {
        width: 600px;
        height: auto;
        padding: 20px;
    }


    .mv .left .top-text .icon-100 {
        position: relative;
        padding-right: 210px;
        width: 300px;
    }

    .mv .right {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 44%;
        height: 80vh;
        right: 0;
        bottom: 0;
    }
    
}

@media (max-width: 1400px) {
    .bot-text .store_text h2 {
        font-size: 16px;
    }

    .bot-text .store_text h1 {
        font-size: 20px;
    }

    .bot-text .store_text {
        line-height: unset;
    }

    .mv .bot-text img {
        width: 100px;
    }

    .bot-text .right_icon img {
        width: 100%;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 190px;
        width: 240px;
    }

    .bot-text p {
        font-size: 25px;
    }

    .font30 {
        font-size: 25px;
    }

    .font50 {
        font-size: 33px;
    }

    .bot-text .store_info {
        width: 540px;
        height: auto;
        padding: 20px;
    }

    .mv .right {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 44%;
        height: 80vh;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 1300px) {
    .bot-text .store_text h2 {
        font-size: 16px;
    }

    .bot-text .store_text h1 {
        font-size: 20px;
    }

    .bot-text .store_text {
        line-height: unset;
    }

    .mv .bot-text img {
        width: 100px;
    }

    .bot-text .right_icon img {
        width: 100%;
    }

    .bot-text p {
        font-size: 25px;
    }

    .font30 {
        font-size: 25px;
    }

    .font50 {
        font-size: 33px;
    }

    .bot-text .store_info {
        width: 600px;
        height: auto;
    }

    .mv .right {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 44%;
        height: 80vh;
        right: 0;
        bottom: 0;
    }
    
}

@media (max-width: 1250px) {
    .mv {
        height: 75vh;
        background-size: cover;
    }

    .mv .flex {
        height: 75vh;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 175px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 45px;
    }

    .bot-text .store_text {
        line-height: unset;
    }

    .bot-text .store_text h1 {
        font-size: 20px;
    }

    .bot-text .store_text h2 {
        font-size: 16px;
    }

    .bot-text .store_info {
        background-size: cover;
        width: 541px;
        height: auto;
    }

    .mv .bot-text img {
        width: 100px;
    }

    .bot-text .right_icon img {
        width: 100%;
    }

    .bot-text {
        width: 460px;
        padding-right: 15px;
        margin: 0;
    }

    .mv .left .top-text h1 {
        font-size: 50px;
    }

    .bot-text p {
        font-size: 20px;
    }

    .font30 {
        font-size: 20px;
    }

    .font50 {
        font-size: 30px;
    }

    .mv .left {
        padding: 25px 10px 35px 40px;
    }

    .mv .right {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 37%;
        height: 65vh;
        right: 0;
        bottom: 0;
    }

    .mv .left .top-text {
        width: 600px;
    }
    
}

@media (max-width: 1000px) {
    header .header__icon {
        display: none;
    }

    .mv {
        background: url(../img/ring-sp.png), url(../img/top-sp.png) no-repeat;
        background-repeat: no-repeat;
        background-position: bottom, top center;
        background-size: 100%;
        height: 70vh;
    }

    .mv .flex {
        height: 70vh;
    }

    .mv .left .top-text h1 {
        font-size: 40px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 35px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 145px;
        width: 230px;
    }

    .mv .right img {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 35%;
        height: 49vh;
        right: 0;
        bottom: 0;
    }

    .mv .left {
        padding: 25px 10px 35px 40px;
    }

    .bot-text .store_info {
        display: none;
    }

    .bottom-mv-sp {
        display: block;
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .bottom-mv-sp img{
        width: 100%;
    }

    .bot-text p {
        font-size: 20px;
    }

    .font30 {
        font-size: 20px;
    }

    .font50 {
        font-size: 30px;
    }

    .mv .left .top-text {
        min-width: 500px;
    }

    .bottom-mv-sp h1 {
        font-size: 40px;
    }
    
    .bottom-mv-sp .store_info {
        justify-content: space-evenly;
    }
    
    .bottom-mv-sp .store_info .center img {
        width: 120px;
    }

    .bottom-mv-sp h2 {
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    .bot-text p {
        font-size: 15px;
    }

    .font30 {
        font-size: 15px;
    }

    .font50 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    header .header__number {
        display: none;
    }

    header .header__icon {
        display: none;
    }

    .mv .flex {
        flex-direction: column;
    }

    .mv {
        background: url(../img/ring-sp.png), url(../img/top-sp.png) no-repeat;
        background-repeat: no-repeat;
        background-position: bottom, top center;
        background-size: 100%;
        height: 80vh;
    }

    .mv .left {
        width: 100%;
        padding: 0;
        position: relative;
        align-items: center;
    }

    .top-text p {
        font-size: 30px;
        padding-left: 0;
    }

    .bot-text {
        margin: 0 0 0 auto;
        display: flex;
        position: relative;
        width: 85%;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 50%;
        height: 55vh;
        right: 0;
        bottom: 0;
    }

    .bot-text p {
        font-size: 25px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        flex-direction: column-reverse;
    }

    .mv span {
        font-size: 30px;
    }

    .mv .right {
        display: none;
    }

    .mv .left .top-text h1 {
        font-size: 45px;
        text-align: start;
        padding-left: 20px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 45px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 166px;
    }

    .mv .left .bot-text img {
        display: none;
    }

    .mv .left .bot-text .text2-sp {
        padding-top: 20px;
    }

    .mv .left .bot-text .text3-sp {
        padding-top: 30px;
    }

    .mv .left .top-text {
        padding: 10px;
        width: 548px;
    }

    .bot-text-cp .store_info {
        display: none;
    }

    .bottom-mv-sp {
        display: block;
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .bottom-mv-sp img {
        width: 100%;
    }

    .bottom-mv-sp .store_info {
        justify-content: space-evenly;
    }
    
    .bottom-mv-sp h2 {
        font-size: 14px;
    }
    
    .bottom-mv-sp h1 {
        font-size: 30px;
    }
    
}

@media (max-width: 568px) {
    .mv {
        height: 70vh;
    }

    .mv::after {
        width: 55%;
        height: 37vh;
    }

    .mv .left .top-text h1 {
        font-size: 35px;
        padding-left: 0;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 25px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 95px;
        width: unset;
    }

    .mv .left .top-text {
        min-width: unset;
    }

    .mv .left .top-text {
        width: 355px;
    }

    .bottom-mv-sp .store_text {
        min-width: 250px;
    }

    .bottom-mv-sp h2 {
        font-size: 10px;
    }

    .bottom-mv-sp h1 {
        font-size: 16px;
    }

    .bottom-mv-sp .store_info .center img {
        width: 60px;
    }

    .bottom-mv-sp .store_info .right_icon img {
        width: 16px;
    }
    
    .bottom-mv-sp .store_info {
        justify-content: space-evenly;
    }
}

@media (max-width: 320px) {
    .bottom-mv-sp h2 {
        font-size: 10px;
    }

    .bottom-mv-sp h1 {
        font-size: 16px;
    }

    .bottom-mv-sp .store_info .right_icon img {
        width: 16px;
    }
}