body {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
        align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

.red {
    color: red;
}

h1 {
    margin: 0;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.font30 {
    font-size: 30px;
}

.font50 {
    font-size: 50px;
}

@font-face {
    font-family: 'RyoDispPlusN W50 Heavy';
    src: url(../font/RyoDispPlusN-W50-Heavy.ttf);
}

@font-face {
    font-family: 'A-OTF Gothic MB101 Pro B';
    src: url(../font/A-OTF-Gothic-MB101-Pro-B.otf);
}

@font-face {
    font-family: 'A-OTF Gothic MB101 Pro H';
    src: url(../font/A-OTF-Gothic-MB101-Pro-H.otf);
}

header {
    padding: 20px 0 0;
}

header .flex {
    padding: 0 20px;
}

header .header__number a {
    font-weight: 600;
    font-size: 50px;
}

header .header__number small {
    font-size: 12px;
}

header .header__icon .green-btn {
    display: flex;
    background: url(../img/green-btn.png) no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 10px;
    color: #fff;
    font-weight: 600;
}

header .nav__header {
    background-color: #000;
    height: 5vh;
}
/* header*/

.mv {
    background: url(../img/mv-top.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 87vh;
    position: relative;
}

.mv .flex {
    align-items: unset;
    height: 87vh;
}

.mv .left {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 25px 10px 35px 50px;
}

.mv .left img{
    width: 100%;
}

.mv .right {
    width: 49%;
    display: flex;
    align-items: flex-end;
}

.mv .right img {
    width: 75%;
}

.mv .left .top-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mv .left .top-text .icon-100{
    position: relative;
    padding-right: 225px;
}

.mv .left .top-text .icon-100::after{
    content: "年以上!!";
    position: absolute;
    width: 50%;
    font-size: 55px;
    font-weight: 600;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.mv .left .top-text .icon_100 {
    text-align: end;
}

.top-text p {
    font-size: 8vh;
    font-family: 'A-OTF Gothic MB101 Pro H';
}

.mv .left .top-text h1{
    font-size: 55px;
}

.bot-text {
    text-align: start;
    width: 90%;
    margin: 0 0 0 auto;
}

.bot-text img {
    padding-top: 30px;
}

.bot-text p {
    font-size: 30px;
    font-family: 'RyoDispPlusN W50 Heavy';
}

@media (max-width: 1250px) {
    .mv {
        height: 75vh;
        background-size: cover;
    }

    .mv .flex {
        height: 75vh;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 140px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 45px;
    }
}

@media (max-width: 1000px) {
    header .header__icon {
        display: none;
    }

    .mv {
        background: url(../img/ring-sp.png), url(../img/top-sp.png) no-repeat;
        background-repeat: no-repeat;
        background-position: bottom, top center;
        background-size: 100%;
        height: 70vh;
    }

    .mv .flex {
        height: 70vh;
    }

    .mv .left .top-text h1 {
        font-size: 40px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 35px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 115px;
    }

    .mv .right img {
        display: none;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 50%;
        height: 65vh;
        right: 0;
        bottom: 0;
    }

    .mv .left {
        padding: 25px 10px 35px 10px;
    }

    .bot-text p {
        font-size: 25px;
    }

    .font50 {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    header .header__number {
        display: none;
    }

    header .header__icon {
        display: none;
    }

    .mv .flex {
        flex-direction: column;
    }

    .mv {
        background: url(../img/ring-sp.png), url(../img/top-sp.png) no-repeat;
        background-repeat: no-repeat;
        background-position: bottom, top center;
        background-size: 100%;
        height: 80vh;
    }

    .mv .left {
        width: 100%;
        padding: 0;
        position: relative;
    }

    .top-text p {
        font-size: 30px;
        padding-left: 0;
    }

    .bot-text {
        margin: 0 0 0 auto;
        display: flex;
        position: relative;
    }

    .mv::after {
        content: "";
        background: url(../img/img01.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 50%;
        height: 55vh;
        right: 0;
        bottom: 0;
    }

    .bot-text p {
        font-size: 25px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        flex-direction: column-reverse;
    }

    .mv span {
        font-size: 30px;
    }

    .mv .right {
        display: none;
    }

    .mv .left .top-text h1 {
        font-size: 45px;
        text-align: start;
        padding-left: 20px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 45px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 180px;
    }

    .mv .left .bot-text img {
        display: none;
    }

    .mv .left .bot-text .text2-sp {
        padding-top: 20px;
    }

    .mv .left .bot-text .text3-sp {
        padding-top: 30px;
    }

    .mv .left .top-text {
        padding: 10px;
    }
    
}

@media (max-width: 568px) {
    .mv {
        height: 70vh;
    }

    .mv::after {
        width: 55%;
        height: 37vh;
    }

    .mv .left .top-text h1 {
        font-size: 35px;
    }

    .mv .left .top-text .icon-100::after {
        font-size: 25px;
    }

    .mv .left .top-text .icon-100 {
        padding-right: 100px;
    }
}